.ajoute_offer_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  justify-content: left;
  margin: 10px;
}
.popup_contain {
  border-radius: 5px;
}
.popup_contain,
.over {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.over {
  background: rgba(49, 49, 49, 0.284);
}
.popup_cont {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #E6E1DD;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 850px;
  min-width: 550px;
  min-height: 400px;
}
.cls_popup {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: rgb(170, 31, 31);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
body.active-popup {
  overflow-y: hidden;
}
.input_container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn_submit {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: #304F6D;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.Ajoutt_offerr{
  transform: translateY(2px);
  display: inline-block;
  cursor: pointer;
}
.table{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.inputt {
  outline: none;
  border: none;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}
td{
  margin: 5px 5px;
}
