.menu_container_text{
    color:#000000;
}
.title_signin{
    border-radius: 5px;
    border: none;
    width: 83px;
    height: 29px;
    margin: 21px;
    color: #1564bf;
    cursor: pointer;
    font-family: emoji;
    font-size: 25px;
}
.search_container{
    background-color: #f5f5f5;
    margin: 15px;
    border-radius: 20px;
}
