.menu_container_text{
    color:#000000;
}
.title_signin{
    border-radius: 5px;
    border: none;
    width: 83px;
    height: 29px;
    margin: 21px;
    color: #ffffff;
    cursor: pointer;
    font-family: auto;
    font-size: 20px;
    background-color: #2c97ff;
    width: 130px;
    height: 35px;
}
.search_container{
    background-color: #f5f5f5;
    margin: 15px;
    border-radius: 20px;
}
.logo_top{
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    background-color: #1564bf;
    color: #fff;
    text-align: center;
}
