.offr_main_container{
	align-items: center;
    justify-content: center;
	width: 100%;
    background-color: #f5f5f5;
	
}
.offer_container_cards{
	background-color:  #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	
}
.offer_container_card{
	border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
	border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;

}

