.offer_container_card{
	border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
	border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5f5f5;

}

