.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
  /* background-color: #f5f5f5; */
}

.h1_main {
  padding-left: 15px;
  font-size: 55px;
  font-weight: bold;
  color: #6a0174;
  font-family: inherit;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.h2_main {
  font-size: 55px;
  padding-left: 15px;
  font-weight: bold;
  color: #6a0174;
  font-family: inherit;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.h3_main {
  font-size: 55px;
  font-weight: bold;
  color: #6a0174;
  font-family: inherit;
  border-bottom: 2px solid black;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.ova_text {
  font-size: x-large;
}
.icon_container {
  margin-right: 15px;
  width: 45px;
  height: 40px;
  padding: 1px 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

#home {
  /* background-color: #2307f4; */
  width: 90%;
  height: 30%;
  border-radius: 17px;
  padding: 10px;
  margin: 140px 0;
}

#home p {
  font-size: 17px;
  line-height: 2;
  /* font-family: Arial, sans-serif; */
  color: #2a2a2b;
  font-family: "Poppins", Sans-serif;
  /* font-weight: 500; */
  /* font-weight: bold; */
  margin: 20px 20px;
}
.logo {
  width: 100%;
  /* border-radius: 13px; */
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#aboutus {
  border-radius: 17px;
  padding: 10px;
  width: 90%;
  /* background-color: #2307f4; */
  margin: 60px 0;
}
#contact {
  width: 90%;
  border-radius: 17px;
  padding: 10px;
  /* background-color: #2307f4; */
  margin: 50px 0;
}

.image_overlay {
  width: 100%;
  border-radius: 22px;
  height: 600px;
}

.Form_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_contact {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 300px;
}
.input_message {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 300px;
  min-height: 200px;
  max-height: 200px;
  padding-top: 0px;
}

.btn_send {
  background-color: #8d1a97;
  color: #fff;
  padding: 13px 23px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 40px;
  width: 150px;
  font-weight: bold;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
  0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.btn_send:hover {
  background-color: #6a0174;
}
.text-overlay {
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 20px;
  line-height: 2;
  color: #2a2a2b;
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
}
.btn_more {
  position: absolute;
  background-color: #8d1a97;
  /* transform: translate(10%, 350%); */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 150px;
  font-weight: bold;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
  0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.btn_more:hover {
  background-color: #6a0174;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  float: right;
  /* background-color: #4fcae6; */
  padding: 10px;
}
.home-left {
  flex: 2;
  padding: 10px;
  width: 50%;
  float: left;
  /* background-color: rgb(236, 22, 157); */
}
.aboutus-right {
  padding: 10px;
  flex: 1;
  width: 50%;
  float: right;
  /* background-color: #3ada13; */
}
.aboutus-left {
  padding: 10px;
  flex: 2;
  width: 50%;
  float: left;
  /* background-color: rgb(218, 205, 29); */
}
.contact-right {
  flex: 1 1;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #ffffff6b;
  border-radius: 11px;
  padding: 40px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.contact_left {
  margin-right: 100px;
  padding: 10px;
  flex: 2;
  width: 40%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: #ffffff6b;
  border-radius: 11px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.contact_left_bottom{
  margin-right: 100px;
  padding: 10px;
  margin-top:10px ;
  flex: 2;
  width: 40%;
  height: 40%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: #ffffff6b;
  border-radius: 11px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.contact_img{
  height: 418px;
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}
.contact-info {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
}
.infoo {
  display: flex;
}
.sign_up_button {
  background-color: #8d1a97;
  color: #fff;
  padding: 13px 23px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
  margin-left: 29px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
  0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.sign_up_button:hover {
  background-color: #6a0174;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes color-change-2x {
  0% {
    background: rgba(148, 225, 251, 0.23);
  }
  100% {
    background: #e4b5ff3b;
  }
}
@keyframes color-change-2x {
  0% {
    background: rgba(148, 225, 251, 0.23);
  }
  100% {
    background: #e4b5ff3b;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
