.maiin_container {
  max-width: 800px;
  margin: 0 auto;
}

.h1_main {
  font-size: 50px;
  font-weight: bold;
  color: #e67f4f;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid black;
}

#home {
  padding: 60px;
  /* background-color: #f0f0f0; */
}

#home p {
  font-size: 20px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#aboutus {
  padding: 20px;
  background-color: #fff;
  margin: 100px;
}

.left_for_contact {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 40px 370px 40px 40px;
}

.image_overlay {
  width: 900px;
  height: 560px;
  margin-left: 100px;
}
.logo {
  margin-left: 0px;
  height: 250px;
  width: 350px;
  margin-top: -21px;
  background-color: #f0f0f0;
  padding: 29px 168px 65px 161px;
}

.Form_contact {
  margin-left: 460px;
}

/* .label_contact {
  font-family: Arial, sans-serif;
  font-size: 16px;
} */

.input_contact {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.btn_send {
  background-color: #e67f4f;
  color: #fff;
  padding: 13px 23px;
  border: none;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 200px;
  margin-top: 40px;
  width: 150px;
  font-weight: bold;
}

.btn_send:hover {
  background-color: #b35f00;
}
.text-overlay {
  width: 536px;
  position: absolute;
  top: 145%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 10px;
  color: #020101;
  font-family: Arial, sans-serif;
  font-size: 17px;
  border-radius: 20px;
  line-height: 1.5;
}
.btn_more {
  position: absolute;
  background-color: #e67f4f;
  /* transform: translate(10%, 350%); */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn_more:hover {
  background-color: #b35f00;
}

.logo_gmail {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-left: -500px;
  margin-top: -650px;
}
.ova_text {
  display: flex;
  flex-direction: column;
  margin-left: -370px;
  margin-top: -60px;
}
.logo_Phone {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-left: -500px;
  margin-top: 99px;
  border-radius: 13px;
}
