.main_container{
	align-items: center;
    justify-content: center;
	width: 100%;
	
}
.offer_cards{
	background-color: rgba(255, 255, 255, 0.968);
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	
}
.offer_card{
	border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
	border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;

}
.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.card{
	background-color: black;
}
