.getoffer_container {
  display: flex;
}
.offerr_gird {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  margin: 10px;
}
.offerr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offerr_container {
  width: 100%;
  /* background-color: #ffffff; */
  border-width: 14px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 2px;
}
.offerr_avatar {
  padding: 3px;
  display: flex;
  align-items: center;
  align-content: stretch;
}
.offerr_name {
  margin: 10px;
}
.update_botton button {
  background-color: #389b5f;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  transform: translateY(2px);
  position: relative;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  color: white;
  margin-left: 10px;
}
.pagination_container {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.popup_container {
  border-radius: 5px;
}
.popup_container,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay {
  background: rgba(49, 49, 49, 0.284);
}
.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 950px;
  height: fit-content;
}
/* .close_popup {
  position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 35px;
    background-color: #304f6d;
    color: rgb(255, 255, 255);
    cursor: pointer;
} */
.Save_popup {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: #304f6d;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.body.active-popup {
  overflow-y: hidden;
}
.offer_data {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button_display {
  margin: 10px;
  padding: 10px 25px;
  font-size: 17px;
}
.table {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
td {
  margin: 5px 5px;
}
.inputt {
  outline: none;
  border: none;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}
.button {
  border-radius: 5px;
  border: none;
  background-color: #3185d6;
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* height: 15px; */
  /* padding: 10px; */
}
.action{
  width: 120px;
}
