.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #c12377; */
}
.offer_container {
  width: 347px;
  height: 660px;
  background: rgb(225, 234, 255);
  background: linear-gradient(
    180deg,
    rgba(225, 234, 255, 1) 0%,
    rgba(214, 230, 253, 1) 52%,
    rgba(255, 221, 252, 1) 100%
  );
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  padding: 5px;
  /* box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%); */
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.offer_container_img {
  height: 40%;
  margin: 10px;
  /* background: #ffffff; */
  /* padding: 10px; */
}
.offer_container_img img {
  width: 100%;
}
.offer_container_info {
  margin-top: 10px;
  width: 90%;
  /* height: 10%; */
  /* background-color: rgb#ffffff; */
  padding: 10px;
}
.offer_container_description {
  width: 90%;
  height: 20%;
  /* background-color: #ffffff; */
  padding: 10px;
}
.skills_container {
  /* background-color: #ffffff; */
  padding: 10px;
}
.company_Name_container {
  /* background-color: #ffffff; */
  padding: 10px;
}
.adresse_container {
  /* background-color: #ffffff; */
  padding: 10px;
}
.apply_button {
  border-radius: 5px;
  border: none;
  background-color: #8d48a8;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  transform: translateY(2px);
  cursor: pointer;
  transition-duration: 0.4s;
  color: white;
}
.apply_button:hover {
  background-color: #450c4d;
  color: #fff;
  box-shadow: 0px 0px 10px #000;
}
.popup_container {
  border-radius: 5px;
}
.popup_container,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay {
  background: rgba(49, 49, 49, 0.284);
}
.popup_contnt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #e6e1dd;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 550px;
  height: 150px;
}
.close_popup {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 35px;
  background-color: #304f6d;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
body.active-popup {
  overflow-y: hidden;
}
.table1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
}
.submit_button {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: #304f6d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 7px;
}
.title_cv {
  margin: 20px;
}
.offre_label {
  font-size: large;
  font-family: emoji;
  margin-right: 8px;
}
.h1_cv {
  color: #000;
}
/* .CircularProgress{
  width: "1000px"
} */

.search_containe {
  background-color: white;
  margin: 15px;
  border-radius: 20px;
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
